* {
    font-family: sans-serif;
    margin: 0%;
    line-height: 150%;
}

/* début header.inc.php*/
#toggle{
    display: none;
}
.menu-btn{
    display: none;
}

.menu {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
    column-gap: 6rem;
    background-color: #171f43;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu li :hover {
     text-decoration: underline;
}

.box {
    display: flex;
    flex-flow: wrap;
    align-items: baseline;
    justify-content: center;
    column-gap: 26rem;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo {
    border-color: #171f43 transparent transparent #171f43;
    font-size: 4vw;
    background-color: #171f43;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* fin header.inc.php*/

.bloc{
    display: flex;
    flex-flow: wrap;
    align-items: baseline;
    justify-content: center;
    column-gap: 26rem;
    padding-top: 30px;
    padding-bottom: 30px;
}
.container {
    max-width: 600px;
    min-width: 150px;
    padding: 30px;
}

/* début propos.inc.php*/
.blocpropos { 
    background-color: #171f43;
    color: white;
}

#div-btn-discover{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.discover-btn{
    background-color: white;
    color: #171f43;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
}
/* fin propos.inc.php*/

/* début option.inc.php*/
.blocoption {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    align-items: baseline;
    background-color: whitesmoke;
}

.option {
    text-align: center;
    margin: 12px;
    border-radius: 8px;
    min-width: 150px;
    aspect-ratio: 1/1;
    border: solid 1px #171f43;
}

#btn-option {
    color: #171f43;
    text-decoration: none;
}

#btn-option :hover {
    background-color: #171f43;
    color: white;
}
.container_connexion{
    width: 100%; 
    text-align: center; 
    margin-top: 10%; 
    margin-bottom: 10%;
}
.form_connexion{
    width: 80%; 
    margin:auto;  
    margin-top:5%; 
}  
.input_connexion, .btn_connexion{  
    margin: 0% 35% 0% 35%; 
    width: 30%;
    outline:none;
    border:none;
    border-bottom:2px solid black; 
    font-size: 1.3em; 
    margin-bottom: 20px;
}
.btn_connexion{
    padding: 10px 0px; 
    background-color: #171f43;
    color:white; 
    border:none;
}

/* fin option.inc.php*/

/* début footer.inc.php*/
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #171f43;
}

.content-footer {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    align-items: center;
    column-gap: 2rem;
}

.content-footer a {
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: none;
    color: white;
}

/* fin footer.inc.php*/

/* debut locker.inc.php */
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 500px;
    width: 60%;
    margin: 20%;
    margin-top: 10%;
}

.parent>input {
    border: 1px solid white;
    text-align: center;
    font-size: 30px;
    line-height: 100px;
    margin: 10px;
    border: 1px solid #308c06;
    background: none;
    border-color: #3a9a0f;
}
.parent > input:hover {
    background-color:#171f43;
    color: white;
}

.div1 { grid-area: 1 / 2 / 2 / 3; } 
.div2 { grid-area: 1 / 3 / 2 / 4; } 
.div3 { grid-area: 2 / 2 / 3 / 3; } 
.div4 { grid-area: 2 / 3 / 3 / 4; } 
.div5 { grid-area: 1 / 1 / 3 / 2; } 
/* fin locker.inc.php */
/* Debut confirmation.inc.php*/
.form_confirmation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin: auto;
    margin-bottom: 20%;
}
.form_confirmation input{
    width: 100%;
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid black;
}
.form_confirmation_submit{
    background-color:#171f43;
    color: white;
    padding: 10px;
}
.form_confirmation_submit:hover
{
    background-color: white;
    color: #171f43;
    border: 1px solid #171f43;
}
/* fin confirmation.inc.php*/

@media screen and (max-width: 1200px) {
    .input_connexion, .btn_connexion{
        width:90%;
        margin: 0% 5% 0% 5%;
    }
    .btn_connexion
    {
       margin-top: 10%;
    }
    .parent {
        width:100%;
        height: 400px;
        margin: 0%;
    }
    .form_confirmation{
        width: 80%;
    }
}

@media all and (max-width: 990px) {

    li a {
        display: none;
        /*position: absolutes;*/
    }
    .menu {
        display: flex;
        flex-flow: column;
    }

    .menu-btn {
        display: flex;
        justify-content: flex-end;
        color: white;
        cursor: pointer;
    }

    #toggle:checked ~ li a {
        /*position: absolute;*/
        background-color: #171f436f;
        display: flex;
        flex-flow: column;
        text-align: center;
    }
}@media all and (max-width: 990px) {

     li a {
         display: none;
         /*position: absolutes;*/
     }
     .menu {
         display: flex;
         flex-flow: column;
     }

     .menu-btn {
         display: flex;
         justify-content: flex-end;
         color: white;
         cursor: pointer;
     }

     #toggle:checked ~ li a {
         /*position: absolute;*/
         background-color: #171f436f;
         display: flex;
         flex-flow: column;
         text-align: center;
     }
 }